*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0 25px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__hamburger {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.header__hamburger:is(:hover, :focus) {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header__nav-list {
  display: none;
  list-style: none;
  gap: 46px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
  }
}
.header__nav-item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.header__nav-item:is(:hover, :focus) {
  color: #2196f3;
}
.header__nav-item:is(:hover, :focus)::after {
  content: "";
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #2196f3;
  width: 53px;
  height: 4px;
  top: 46px;
  border-radius: 2px;
}
.header__nav-item--active {
  color: #2196f3;
}
.header__nav-item--active::after {
  background-color: #2196f3;
  content: "";
  display: flex;
  justify-content: center;
  position: absolute;
  width: 53px;
  height: 4px;
  top: 46px;
  border-radius: 2px;
}
.header__contact-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    font-size: 14px;
  }
}
.header__contact-item {
  letter-spacing: 0.02em;
  line-height: 1.16;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-item:is(:hover, :focus) {
  color: #2196f3;
}
.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__icon--mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .header__icon--mail {
    width: 16px;
    height: 12px;
  }
}
.header__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header__icon--phone {
    height: 16px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
  color: #2196f3;
}
.logo__footer {
  margin-left: 163px;
}
.logo__studio {
  color: #000;
}
.logo__studio--white {
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    text-align: left;
  }
}
/*
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-align: left;
    text-decoration: none;
    color: $primary-color;

    &__studio {
        color: $black-color;

        &--white {
            color: $white-color;
        }
    }
}
*/
/*----MOBILE FIRST---- */
.hero-section {
  text-align: center;
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-mobile2na480x400.jpg");
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-tablet2na768x400.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-desktop2na1600x600.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section .hero-section {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-mobile2na480x400.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section .hero-section {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-tablet2na768x400.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section .hero-section {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/hero-desktop2na1600x600.jpg");
  }
}
.hero-section__description {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  color: #fff;
  letter-spacing: 0.06em;
  text-align: center;
  display: block;
  margin: 106px auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero-section__description {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-bottom: 118px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero-section__button {
    margin-bottom: 200px;
  }
}

/*.hero-section {
    text-align: center;
    background-color: $navy-blue;
    background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        ),
        url(../images/hero.jpg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;

    &__description {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: $white-color;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 106px 252px 30px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        color: $white-color;
        background-color: $primary-color;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-bottom: 106px;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
}*/
/*----MOBILE FIRST---- */
.our-atuts__flex {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  flex-direction: column;
}
.our-atuts__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  letter-spacing: 0.03em;
  text-align: center;
}
.our-atuts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  padding-top: 10px;
}
.our-atuts__icon {
  padding: 25px 192px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .our-atuts__flex {
    flex-direction: row;
  }
  .our-atuts__icon {
    padding: 25px 100px;
  }
}
/*.our-atuts {
    &__flex {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        color: $dark-grey;
        letter-spacing: 0.03em;
        text-align: left;
    }
    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $light-grey;
        letter-spacing: 0.03em;
        padding-top: 10px;
    }
    &__icon {
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: $beige;
        border-radius: 4px;
    }
}*/
@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-work {
    margin-top: -94px;
  }
  .our-work__wrapper {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
  }
  .our-work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
  }
  .our-work__box-photo {
    position: relative;
    overflow: hidden;
  }
  .our-work__overlay-box-photo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .our-work__overlay-box-photo-title {
    padding: 27px 0;
  }
}
/*.our-work {
    margin-top: -94px;


    &__wrapper {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $dark-grey;
        text-align: center;
        margin-bottom: 50px;
    }

    &__box-photo {
        position: relative;
        overflow: hidden;
    }

    &__overlay-box-photo {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
        color: $white-color;
        width: 370px;
        height: 70px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
    }

    &__overlay-box-photo-title {
        padding: 27px 0;
    }
}*/
.our-team {
  background-color: #f5f4fa;
}
.our-team__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
}
.our-team__flex {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  flex-direction: column;
}
.our-team__card {
  background-color: #fff;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.our-team__photo-bg {
  background-color: #fff;
  padding: 30px 0;
  line-height: 1.85;
  font-size: 16px;
  text-align: center;
}
.our-team__worker-name {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0.03em;
}
.our-team__worker-job {
  color: #757575;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-top: 16px;
}
.social-media__icon {
  fill: #afb1b8;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon:hover, .social-media__icon:focus {
  fill: #fff;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .our-team__name {
    font-size: 36px;
  }
  .our-team__flex {
    flex-direction: row;
  }
}
/*.our-team {
    background-color: $beige;

    &__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $dark-grey;
        text-align: center;
        margin-bottom: 50px;
    }

    &__flex {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    &__card {
        background-color: $white-color;
        margin: 0;
        box-shadow: 0px 1px 3px rgba(0 0 0 / 12%), 0px 1px 1px rgba(0 0 0 / 14%),
            0px 2px 1px rgba(0 0 0 / 20%);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &__photo-bg {
        background-color: $white-color;
        padding: 30px 0;
        line-height: 1.85;
        font-size: 16px;
        text-align: center;
    }

    &__worker-name {
        font-weight: 500;
        font-size: 16px;
        color: $dark-grey;
        letter-spacing: 0.03em;
    }

    &__worker-job {
        color: $light-grey;
        text-align: center;
    }
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 16px;

    &__icon {
        fill: $icon-color;
        border-radius: 50%;
        padding: 12px;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon:hover,
    &__icon:focus {
        fill: $white-color;
        background-color: $primary-color;
    }
}
*/
.our-customers__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.our-customers__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  cursor: pointer;
  flex-wrap: wrap;
}
.our-customers__company {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  padding: 16px 52px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__company:hover, .our-customers__company:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .our-customers__name {
    font-size: 36px;
  }
  .our-customers__logo {
    flex-direction: row;
  }
  .our-customers__company {
    padding: 18px 32px 14px 32px;
  }
}
/*.our-customers {
    &__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $dark-grey;
        text-align: center;
        margin-bottom: 50px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        cursor: pointer;
    }

    &__company {
        border: 1px solid $icon-color;
        border-radius: 4px;
        fill: $icon-color;
        padding: 18px 32px 14px 32px;
        outline: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__company:hover,
    &__company:focus {
        fill: $primary-color;
        border-color: $primary-color;
    }
}
*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__flex {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.footer__address-list {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.footer__address-flex {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  gap: 9px;
}
.footer__address {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  padding-top: 20px;
}
.footer__contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact--underline {
  text-decoration: underline;
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}
.footer__newsletter-title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 60px 136px 20px 137px;
}
.footer__newsletter-flex {
  display: flex;
  flex-direction: column;
}
.footer__newsletter-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  padding: 15px 16px;
  height: 50px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: transparent;
  color: #fff;
}
.footer__newsletter-btn {
  background-color: #2196f3;
  color: #fff;
  width: 200px;
  height: 50px;
  padding: 10px 18px 10px 42px;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 20px 140px 60px 125px;
}
.footer__icon {
  fill: #fff;
}
.footer__join-us {
  margin: 60px 146px 20px;
}
.footer__join-us-flex {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}
.footer__join-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer__join-us-title--color {
  color: #fff;
}
.footer__social-icons {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-icons:hover, .footer__social-icons:focus {
  fill: #fff;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    flex-direction: row;
  }
  .footer__newsletter-flex {
    flex-direction: row;
  }
  .footer__address-list {
    text-align: left;
  }
  .footer__address-flex {
    gap: 8px;
  }
  .footer__join-us {
    margin-top: 12px;
    margin-left: 70px;
  }
  .footer__newsletter-title {
    margin-top: 11px;
  }
  .footer__newsletter {
    margin-left: 78px;
  }
  .footer__newsletter-form {
    width: 358px;
  }
}
/*
.footer {
    background-color: $navy-blue;
    padding: 60px 0;

    &__flex {
        display: inline-flex;
        justify-content: center;
    }

    &__address-list {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        text-decoration: none;
        margin-top: 20px;
    }

    &__address-flex {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
        gap: 9px;
    }

    &__address {
        color: $white-color;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        padding-top: 20px;
    }

    &__contact {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact--underline {
        text-decoration: underline;
    }

    &__contact:hover,
    &__contact:focus {
        color: $primary-color;
    }

    &__newsletter {
        margin-left: 78px;
    }

    &__newsletter-title {
        color: $white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        margin-top: 11px;
    }

    &__newsletter-flex {
        display: flex;
    }

    &__newsletter-form {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: $black-rock;
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        margin-right: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        outline: transparent;
        color: $white-color;
    }

    &__newsletter-btn {
        background-color: $primary-color;
        color: $white-color;
        width: 200px;
        height: 50px;
        padding: 10px 18px 10px 42px;
        border-radius: 4px;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__icon {
        fill: $white-color;
    }

    &__join-us {
        margin-top: 12px;
        margin-left: 70px;
    }

    &__join-us-flex {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
    }

    &__join-us-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        &--color {
            color: $white-color;
        }
    }
    &__social-icons {
        fill: $white-color;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;
        padding: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $white-color;
            background-color: $primary-color;
        }
    }
}
*/
.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 450px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__label-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal__form-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  max-width: 448px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}
.modal__form-icon {
  fill: #212121;
  position: absolute;
  bottom: 11px;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-description {
  max-width: 448px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-description:focus-within .modal__form-description {
  border-color: #2196f3;
}
.modal__label-description:focus-within .modal__form-icon {
  fill: #2196f3;
}
.modal__label-description:focus-within .modal__form-comment {
  border-color: #2196f3;
}
.modal__statute {
  margin-top: 20px;
}
.modal__statute-form {
  display: flex;
  align-items: center;
}
.modal__statute-container {
  position: relative;
}
.modal__statute-form-checkbox {
  fill: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  min-width: 16px;
  height: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 8px;
}
.modal__statute-form-checkbox-icon {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 2px;
}
.modal__statute-form-checkbox:checked + .modal__statute-form-checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  opacity: 1;
}
.modal__statute-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal__statute-link {
  text-decoration: underline;
  color: #2196f3;
}
.modal__btn-statute {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2196f3;
  outline: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 30px auto 0;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.is-hidden .modal {
  transform: translateY(-100%);
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 16px;
  right: 16px;
}
.menu-toggle:is(:hover, :focus) {
  color: #2196f3;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  inset: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition-property: visibility, opacity, transform;
  transition: 250ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}
.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.mobile-menu__item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__link {
  font-size: 40px;
  color: #212121;
  text-decoration: none;
}
.mobile-menu__link--active {
  color: #2196f3;
}
.mobile-menu__link:hover {
  color: #2196f3;
}
.mobile-menu__address {
  display: flex;
  flex-direction: column;
}
.mobile-menu__phone {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 32px;
}
.mobile-menu__email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}
.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__social__link {
  list-style: none;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social__link:last-child {
  margin-right: none;
  padding-right: none;
}

.portfolio-filters {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.portfolio-filters__efects {
  color: #000;
  background-color: #f5f4fa;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filters__button {
  padding: 6px 22px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filters__button:hover, .portfolio-filters__button:focus {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filters__efects:hover, .portfolio-filters__efects:focus {
  color: #fff;
  background-color: var(#2196f3);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding-top: 50px;
}
.projects__title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
}
.projects__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  margin: 0;
}
.projects__photo-portfolio {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects__overlay-portfolio {
  position: relative;
  overflow: hidden;
}
.projects__overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__overlay-portfolio:hover .projects__overlay-description {
  transform: translateY(0);
}
.projects__overlay-description-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: #fff;
}
.projects--shadow-efects:hover, .projects--shadow-efects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.projects--shadow-efects {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */