/*----MOBILE FIRST---- */
.hero-section {
    text-align: center;
    background-color: $navy-blue;
    background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        ),
        url(../images/hero-mobile2x480x400.jpg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;

    &__description {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        color: $white-color;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 118px 58px 30px;
    }
    &__button {
        font-weight: 700;
        font-size: 16px;
        color: $white-color;
        background-color: $primary-color;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-bottom: 118px;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        &__description {
            margin: 118px 201px 30px;
        }
        &__button {
            margin-bottom: 106px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        background-image: linear-gradient(
                90deg,
                rgba(47, 48, 58, 0.4) 0%,
                rgba(47, 48, 58, 0.4) 0%
            ),
            url(../images/hero.jpg);
        &__description {
            font-size: 44px;
            line-height: 1.36;
            margin: 106px 252px 30px;
        }
    }
}

/*.hero-section {
    text-align: center;
    background-color: $navy-blue;
    background-image: linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        ),
        url(../images/hero.jpg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;

    &__description {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: $white-color;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 106px 252px 30px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        color: $white-color;
        background-color: $primary-color;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-bottom: 106px;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
}*/
