.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    text-decoration: none;
    color: $primary-color;

    &__footer {
        margin-left: 163px;
    }

    &__studio {
        color: $black-color;

        &--white {
            color: $white-color;
        }
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
    }
}

/*
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-align: left;
    text-decoration: none;
    color: $primary-color;

    &__studio {
        color: $black-color;

        &--white {
            color: $white-color;
        }
    }
}
*/
