.our-customers {
    &__name {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        color: $dark-grey;
        text-align: center;
        margin-bottom: 30px;

        @include desktop {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style: none;
        cursor: pointer;
        flex-wrap: wrap;
    }

    &__company {
        border: 1px solid $icon-color;
        border-radius: 4px;
        fill: $icon-color;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        outline: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:is(:hover, :focus) {
            fill: $primary-color;
            border-color: $primary-color;
        }
    }
}

/*.our-customers {
    &__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: $dark-grey;
        text-align: center;
        margin-bottom: 50px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        cursor: pointer;
    }

    &__company {
        border: 1px solid $icon-color;
        border-radius: 4px;
        fill: $icon-color;
        padding: 18px 32px 14px 32px;
        outline: none;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__company:hover,
    &__company:focus {
        fill: $primary-color;
        border-color: $primary-color;
    }
}
*/
